
path {
  dl4j_dir = ""
  images_dir = ""
  image_rsync = ""
  model_file = ""
  original_images_dir = ""
}

s3 {
  bucket = "dl4j-s3"
}

property {
  image {
    width = 120
    height = 90
  }
  epoch = 15
}
