[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyhocon = "*"
"boto3" = "*"
"send2trash" = "*"
plyvel = "*"
riak = "*"

[dev-packages]

[requires]
python_version = "3.7"
